/* Import Stylesheets */
@import '_variables';
@import '_mixins';

html,body,div{
  margin:0;
  padding:0;
}
// stops flickering betwen resizes - only background
body{
  background: #fff;
}
#overall-wrapper{
  position: relative;
    margin: 32px auto 0 auto;
    padding: 0;
    width: 100%;
      max-width: 620px;
    font-family: "AvenirNextRegular",Arial,sans-serif;
    .icon-wrapper{
      position: absolute;
      z-index: 2;
      top: -32px;
      text-align: center;
      width: 100%;
      img{
        width: 65px;
        height: 65px;
      }
    }
    .border-wrapper{
      position: absolute;
      z-index: 1;
      margin: 0 auto;
      border: 1px solid #b5b5b5;
      width: 100%;
      box-sizing: border-box;
      h3{
        font-family: "AvenirNextBold",Arial,sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 30px;
        line-height: 38px;
        margin: 0;
        padding: 55px 0px 10px 0px;
        color: #073586;
      }
      .legend{
        width: 100%;
        max-width: 260px;
        margin: 0 auto;
        padding-bottom: 30px;
        ul,li{
          margin: 0;
          padding: 0;
          list-style-type: none;
        }
        li{
          display: inline-block;
          vertical-align: top;
          font-size: 13px;
          line-height: 16px;
          color: #455560;
          font-family: "AvenirNextLight",Arial,sans-serif;
        }
        li.text{
          margin-top: 5px; 
        }
        li:before{
          width:15px;
          height: 15px;
          display:inline-block;
          content: "";
          background: #073586;
          vertical-align: top;
          border-radius: 50%;
          margin-right: 5px;
        }
        li:last-child:before{
        background: #c50084;
        margin-left:10px;
        }
      }
      .mountain-wrapper{
        height: 465px;
        background: #fff url('../images/scenery-mountains.png') no-repeat left top;
      }
    }
  }