/* Import Stylesheets */
/* Variables */
/* Breakpoints */
/* Transition */
/* Border Radius */
/* Pseudo - For "before" and "after" elements */
/* Center Positioning */
/* Triangles */
/* Keyframes */
/* Animation */
/* Breakpoints - For Media Queries */
html, body, div {
  margin: 0;
  padding: 0; }

body {
  background: #fff; }

#overall-wrapper {
  position: relative;
  margin: 32px auto 0 auto;
  padding: 0;
  width: 100%;
  max-width: 620px;
  font-family: "AvenirNextRegular",Arial,sans-serif; }
  #overall-wrapper .icon-wrapper {
    position: absolute;
    z-index: 2;
    top: -32px;
    text-align: center;
    width: 100%; }
    #overall-wrapper .icon-wrapper img {
      width: 65px;
      height: 65px; }
  #overall-wrapper .border-wrapper {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    border: 1px solid #b5b5b5;
    width: 100%;
    box-sizing: border-box; }
    #overall-wrapper .border-wrapper h3 {
      font-family: "AvenirNextBold",Arial,sans-serif;
      font-weight: bold;
      text-align: center;
      font-size: 30px;
      line-height: 38px;
      margin: 0;
      padding: 55px 0px 10px 0px;
      color: #073586; }
    #overall-wrapper .border-wrapper .legend {
      width: 100%;
      max-width: 260px;
      margin: 0 auto;
      padding-bottom: 30px; }
      #overall-wrapper .border-wrapper .legend ul, #overall-wrapper .border-wrapper .legend li {
        margin: 0;
        padding: 0;
        list-style-type: none; }
      #overall-wrapper .border-wrapper .legend li {
        display: inline-block;
        vertical-align: top;
        font-size: 13px;
        line-height: 16px;
        color: #455560;
        font-family: "AvenirNextLight",Arial,sans-serif; }
      #overall-wrapper .border-wrapper .legend li.text {
        margin-top: 5px; }
      #overall-wrapper .border-wrapper .legend li:before {
        width: 15px;
        height: 15px;
        display: inline-block;
        content: "";
        background: #073586;
        vertical-align: top;
        border-radius: 50%;
        margin-right: 5px; }
      #overall-wrapper .border-wrapper .legend li:last-child:before {
        background: #c50084;
        margin-left: 10px; }
    #overall-wrapper .border-wrapper .mountain-wrapper {
      height: 465px;
      background: #fff url("../images/scenery-mountains.png") no-repeat left top; }
